language: node_js
node_js:
- '0.10'
notifications:
  email: false
before_install:
- npm install -g grunt-cli
deploy:
  provider: npm
  email: stephan@thehoodiefirm.com
  on:
    all_branches: true
    tags: true
  api_key:
    secure: YsN+fuvpoe/Z41R9QlIu9mQOzXWUzeQnn4UhuOTP4Cmk3D0DzZ5tFraJ49RmaCRJoVnVg5rLKt/Ht51tmW0XQx0gFDuuHT0Rrrar8u6AsXFH1Lyc/3Vs/vdQThyDq2RZueTE690YKblx4WWrm9lnnfdeA5HErxkbT9c/xU+XsHI=
env:
  global:
  - secure: V2EeZ4sk+QT6urQWM7Yz40fqCKZpkLOWHWetYJYYTLP0rmdv34YxVI4RCouoSgzb/RU0lmbsYSmw2sAYA1a1NKl5cJh+koom0UmpCKi7gsh6iIU/edRvXH4Evu9KJPgRfdubY6a27SkpZhfFBF3x2VIk4q1zDvLO9DRY1FKnA3A=
before_deploy:
- grunt before-deploy
after_deploy:
- grunt after-deploy
sudo: false
cache:
  directories:
  - node_modules
